@import "~bootstrap";
body {
    background-color: lightgray;
	font-size: 15px;
	padding: 20px;
}

h1, h2, h3 {
	margin-top: 10px;
}

.center {
	text-align: center;
}

.list-group-item {
  display: list-item;
}