{% extends 'base.html.twig' %}

{% block title %}Hello{{ app.user.username }}
{% endblock %}

{% block body %}
	<ul class="list-group">
		{% for userScore in userStats %}
			<li class="list-group-item">{{ userScore.user.nickname }}
				<span class="badge">{{ userScore.score }}</span>
			</li>
		{% endfor %}
	</ul>
  {% block content %}{% endblock %}
{% endblock %}
