{% extends 'base.html.twig' %}

{% block title %}
	{{ 'user.title'|trans }}
{% endblock %}


{% block body %}
	<ul class="list-group list-group-striped">
		{% for userScore in userStats %}
			<li class="list-group-item d-flex list-group-item-action">{{ userScore.user.nickname }}
				<span class="badge bg-secondary ms-auto">{{ userScore.score }}</span>
			</li>
		{% endfor %}
	</ul>
	{% block content %}{% endblock %}
{% endblock %}
