{% extends 'user/index.html.twig' %}
{% block content %}
	<div class="alert alert-info center" role="alert">
		<h5>topic</h5>
		<h3>{{ topic }}</h3>
	</div>

	<ul class="list-group">
		{% for word in words %}
			<li class="list-group-item list-group-item-success">{{ word.word }}</li>
		{% endfor %}
	</ul>

	{% if words|length < 10 %}
		<form action="" method="post">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="word" name="word" autofocus><br>
				<button type="submit" class="btn btn-success">submit</button>
			</div>
		</form>
	{% else %}
		{{ encore_entry_script_tags('reload') }}
	{% endif %}

	{% if result is not null %}
		<p style="color:red;">{{ result }}</p>
	{% endif %}

{% endblock %}
