{% extends 'admin/index.html.twig' %}
{% block content %}
	<form method="post">
		<input type="checkbox" name="dictionary" checked><label for="dictionary">Use dictionary</label><br>
		<input type="text" name="rounds[]"><br>
		<input type="text" name="rounds[]"><br>
		<input type="text" name="rounds[]"><br>
		<input type="text" name="rounds[]"><br>
		<input type="text" name="rounds[]"><br>
		<input type="text" name="rounds[]"><br>
		<input type="text" name="rounds[]"><br>
		<input type="text" name="rounds[]"><br>
		<input type="text" name="rounds[]"><br>
		<input type="text" name="rounds[]"><br>
		<input type="submit" value="Submit round topics">
	</form>
{% endblock %}
