{% extends 'base.html.twig' %}

{% block title %}Hello{{ app.user.username }}
{% endblock %}

{% block body %}
	<ul class="list-group">
		{% for userScore in userStats %}
			<li class="list-group-item">{{ userScore.user.nickname }}
				<span class="badge  bg-secondary">{{ userScore.score }}</span>
			</li>
		{% endfor %}
	</ul>
	{% if currentRoundNumber is defined %}
		<p>(round{{ currentRoundNumber }})</p>
	{% endif %}
	{% block content %}{% endblock %}
{% endblock %}
