{% extends 'base.html.twig' %}

{% block title %}
	{{ 'admin.title'|trans }}
{% endblock %}

{% block body %}
	<ul class="list-group">
		{% for userScore in userStats %}
			<li class="list-group-item">{{ userScore.user.nickname }}
				<span class="badge  bg-secondary">{{ userScore.score }}</span>
			</li>
		{% endfor %}
	</ul>
	{% if currentRoundNumber is defined %}
		<p>{{ 'admin.round_number'|trans({'round_number': currentRoundNumber}) }}</p>
	{% endif %}
	{% block content %}{% endblock %}
{% endblock %}
