{% extends 'admin/index.html.twig' %}
{% block content %}
	<div class="alert alert-info center" role="alert">
		<h5>{{ 'current_topic'|trans }}</h5>
		<h3>{{ topic }}</h3>
	</div>

<form method="post">
	<input type="hidden" name="calculateRound"><br>
	<input type="submit" value="{{ 'admin.end_round'|trans }}">
</form>


{% endblock %}
