{% extends 'base.html.twig' %}

{% block title %}
	{{ 'index.welcome'|trans }}
{% endblock %}


{% block body %}
	{% for message in app.flashes('note') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
	{% endfor %}
	<form method="post">
		<input type="hidden" name="create"><br>
		<input type="submit" value="{{ 'admin.create_game'|trans }}">
	</form>
{% endblock %}
